.tipcalc{
  margin: auto;
  width: 30%;
  height: 50%;
  border: 3px solid #73AD21;
  padding: 10px;
}

.formula .error{
  color: #FF0000;
}

.results{
  margin: auto;
  width: 20%;
  height: 15%;
  border: 3px solid lightblue;
  padding: 10px;
  font-family: sans-serif;
  color: lightblue;
  font-size: 20px;
}

#sub-textbox{
    border: 3px inset red;
    outline:0;
    height:25px;
    width: 100px;
    font-size: 15px;
}

#share-textbox{
    border: 3px inset red;
    outline:0;
    height:25px;
    width: 100px;
    font-size: 15px;
}

.formula{
  font-family: sans-serif;
  color: green;
  font-size: 20px;
}

#title{
  font-family: sans-serif;
  color: black;
  font-size: 40px;
  text-align: center;
  vertical-align: middle;
  line-height: 50%;
}
